
<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>
        <span>Logo</span>
      </th>
      <th>
        <span>Nombre de Producto</span>
      </th>
      <th>
        <span>Descripción</span>
        <fa-icon [icon]="faCircleInfo"></fa-icon>
      </th>
      <th>
        <span>Fecha de Liberación</span>
        <fa-icon [icon]="faCircleInfo"></fa-icon>
      </th>
      <th>
        <span>Fecha de Reestructuración</span>
        <fa-icon [icon]="faCircleInfo"></fa-icon>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of pagesOfProducts[currentPagination]">
      <td>
        <div class="product-logo">
          <img [src]="product.logo" />
        </div>
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.date_release | date:"dd/MM/yyyy" }}</td>
      <td>{{ product.date_revision | date:"dd/MM/yyyy"}}</td>
      <td>
        <fa-icon [icon]="faEllipsisVertical" (click)="activeMenuItemId = product.id"></fa-icon>
        <div class="options-menu" *ngIf="product.id === activeMenuItemId">
          <button (click)="handleItemAction(product.id, 'delete')">Eliminar</button>
          <button (click)="handleItemAction(product.id, 'edit')">Editar</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="pagination">
  <span>{{ products?.length }} Resultados</span>
  <select (change)="handlePageChange($event)">
    <option *ngFor="let option of paginationOptions" [value]="option.value">
      {{ option.name }}
    </option>
  </select>
</div>
