/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto', sans-serif;
  color: #0d0d0d;
}

.brand-input {
  font-size: 18px;
  border-radius: 10px;
  padding: 17px 30px;
  border: 2px solid #555555;
}

.brand-btn {
  padding: 17px 30px;
  border: none;
  border-radius: 10px;
  color: #0c305a;
  font-weight: bolder;
  font-size: 17px;
  background-color: #ffe008;
  &:disabled {
    background-color: #fff8ca;
    color: gray;
  }
  &:hover {
    cursor: pointer;
  }
  &.alt-btn {
    background-color: #e9ecf3;
  }
}

.brand-field {
  margin-bottom: 10px;
  &.ds {
    * {
      color: gray;
    }
    input {
      cursor: default;
      border: 1px solid gray;
      
      &:focus {
        outline: 0;
      }
      // background-color: gray;
    }
  }
  label {
    margin-bottom: 5px;
  }
  input {
    font-size: 18px;
    border-radius: 10px;
    padding: 17px 30px;
    border: 2px solid #555555;
  }
}
